// set custom hex colors
$siteBgColorCustom   : #090C11;
$sidebarBgColorCustom: #090C11;

$textColorCustom     : #BCA597;
$sidebarTextColorCustom: #BCA597;

$headlineColorCustom: #A5724C;
$headingColorCustom: #A5724C;

$bodyLinkColorCustom: #BCA597;
$navLinkColorCustom: #BCA597;

$sidebarLinkColorCustom: #A5724C;
$footerTextColorCustom: #BCA597;

$buttonTextColorCustom: #BCA597;
$buttonHoverTextColorCustom: #BCA597;

$buttonBgColorCustom: #090C11;
$buttonHoverBgColorCustom: #365F49;
$borderColorCustom: #BCA597;