// set custom hex colors
$siteBgColorCustom   : #ffffff;
$sidebarBgColorCustom: #111111;

$textColorCustom     : #7f11e0;
$sidebarTextColorCustom: #7f11e0;

$headlineColorCustom: #7f11e0;
$headingColorCustom: #7f11e0;

$bodyLinkColorCustom: #7f11e0;
$navLinkColorCustom: #7f11e0;

$sidebarLinkColorCustom: #7f11e0;
$footerTextColorCustom: #7f11e0;

$buttonTextColorCustom: #7f11e0;
$buttonHoverTextColorCustom: #7f11e0;

$buttonBgColorCustom: #7f11e0;
$buttonHoverBgColorCustom: #7f11e0;
$borderColorCustom: #7f11e0;