// set custom hex colors
$siteBgColorCustom: #090C11;
$sidebarBgColorCustom: #BCA597;
$textColorCustom: #BCA597;
$sidebarTextColorCustom: #090C11;
$headlineColorCustom: #92460D;
$headingColorCustom: #92460D;
$bodyLinkColorCustom: #365F49;
$navLinkColorCustom: #723C2E;
$sidebarLinkColorCustom: #274535;
$footerTextColorCustom: #918f8d;
$buttonTextColorCustom: #BCA597;
$buttonHoverTextColorCustom: #BCA597;
$buttonBgColorCustom: #103742;
$buttonHoverBgColorCustom: #274535;
$borderColorCustom: #BCA597;